{"openapi":"3.0.1","info":{"title":"Events","description":"Events","version":"v3"},"servers":[{"url":"https://api.us1.odp.optimizely.com/v3","description":"United States"},{"url":"https://api.eu1.odp.optimizely.com/v3","description":"Europe"},{"url":"https://api.au1.odp.optimizely.com/v3","description":"Asia-Pacific"}],"security":[{"x-api-key":[]}],"paths":{"/events":{"post":{"tags":["Events"],"summary":"Upload events","description":"Upload customer actions (events) to Optimizely Data Platform (ODP).","operationId":"upload-events","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Event"}},"examples":{"Example Payload":{"description":"Example Payload","value":[{"type":"product","action":"add_to_cart","identifiers":{"email":"tyler@optimizely.com"},"data":{"product_id":"123"}},{"type":"product","action":"remove_from_cart","identifiers":{"email":"tyler@optimizely.com"},"data":{"product_id":"123"}}]}}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericUpdateResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"example":"{\"title\":\"Bad Request\",\"status\":400,\"timestamp\":\"2018-09-10T21:07:10-05:00\",\"detail\":{\"invalids\":[{\"field\":\"delimiter\",\"reason\":\"Unrecognized delimiter, valid options are comma, tab or pipe\"}]}}"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"example":"{  \"message\": \"Forbidden\"}"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"example":"{\"title\":\"Bad Request\",\"status\":404,\"timestamp\":\"2018-09-10T21:07:10-05:00\",\"detail\":{\"message\":\"Not found description\"}}"}}}}}}}},"components":{"schemas":{"Event":{"required":["action","identifiers","type"],"type":"object","properties":{"type":{"type":"string","description":"the event type (for example, product)","example":"product"},"action":{"type":"string","description":"the event action associated with the type (for example, add_to_cart)","example":"add_to_cart"},"identifiers":{"type":"object","additionalProperties":{"type":"string","description":"any known identifiers associated with the customer that performed the event"},"description":"any known identifiers associated with the customer that performed the event"},"data":{"type":"object","additionalProperties":{"type":"string","description":"any additional fields you want to include on the event (for example, product_id)"},"description":"any additional fields you want to include on the event (for example, product_id)"}}},"GenericUpdateResponse":{"type":"object","properties":{"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"timestamp":{"type":"string"}}}},"securitySchemes":{"x-api-key":{"type":"apiKey","name":"x-api-key","in":"header"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}